@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,700;0,800;0,900;1,500;1,600&display=swap");

:root {
  --primary-background: #060d17;
  --secondary-background: #060d17;
  --dark-background: #10161d;
  --yellow-background: rgb(245, 197, 24);
  --white-background: rgb(255, 255, 255);
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

body,
html,
::before,
::after {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--primary-background);
  color: #fff;
  overflow-x: hidden;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff;
}

/* Utility Classes */
.btn {
  cursor: pointer;
}

.btn-search {
  background-color: var(--yellow-background);
  border: none;
  height: 100%;
  padding-inline: 1rem;
  border-left: 1px solid #00000059;
}
.btn-search img {
  transform: translateY(+3px);
  height: 24px;
  width: 100%;
  rotate: -5deg;
}
.bg-yellow {
  color: var(--yellow-background);
}
.flex {
  display: flex;
}
.container {
  max-width: 1280px;
  width: 90vw;
  margin-inline: auto;
}
.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}
.skeleton-text {
  width: 100%;
  height: 0.5rem;
  margin-bottom: 0.25rem;
  border-radius: 0.125rem;
}
@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }
  100% {
    background-color: hsl(200, 20%, 70%);
  }
}

/* header Section */
.header-section {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid var(--yellow-background);
  z-index: 999;
  backdrop-filter: blur(10px);
  background-color: rgb(20, 20, 20, 0.7);
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 4.5rem;
  margin-bottom: 0.5rem;
}
#logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
#logo img {
  width: 3rem;
  background-color: var(--primary-background);
}
#logo #logo-title {
  font-size: 1.6rem;
  font-weight: 400;
}
#catagories {
  display: flex;
  align-items: center;
  gap: 3.5rem;
}
.items {
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}
.items:hover {
  color: var(--yellow-background);
  transform: translateY(-1px);
  cursor: pointer;
}
#search-wrapper {
  position: relative;
}
#searchbar {
  display: flex;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.226);
  color: white;
  background-color: #10161d;
  height: 2.5rem;
  width: 24rem;
  border-radius: 8px;
  gap: 0.9rem;
  padding-inline-start: 1rem;
  overflow: hidden;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
#serch-input {
  background-color: inherit;
  color: white;
  border: none;
  width: 100%;
  height: 100%;
  font-size: 0.9rem;
}
#serch-input:focus {
  outline: none;
}

#del-btn {
  color: #fff;
  display: none;
  cursor: pointer;
}
#del-btn.active {
  display: block;
}

/* Showcase Section */

#showcase {
  margin-bottom: 2rem;
}
.title-section {
  display: block;
  margin-top: 6rem;
  margin-bottom: 2rem;
  background-color: var(--secondary-background);
  color: var(--yellow-background);
  font-weight: lighter;
  text-transform: uppercase;
  padding-block: 0.2rem;
}
.title-section h1 {
  font-size: 2rem;
  border-left: 2px solid var(--yellow-background);
  padding-left: 1rem;
  position: relative;
}
.btn-return {
  display: none;
  height: 50px;
  width: 50px;
  align-self: center;
  background: transparent;
  border: none;
  transition: all 0.25s ease-in;
}
.btn-return.active {
  display: block;
}
.btn-return img {
  width: 80%;
}
.btn-return:hover {
  transform: translateX(-10px);
}

.card-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 3rem;
}
.card {
  width: 70%;
  justify-self: center;
  background-color: var(--secondary-background);
  cursor: pointer;
  border-radius: 8px;
  text-align: center;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
}
.card img {
  width: 100%;
}
.card:hover {
  transform: scale(1.015);
}
.upper-body {
  object-fit: cover;
  border-radius: 5px;
  min-width: 5rem;
}

.lower-body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.card img {
  border-radius: 8px;
}

.movie-title {
  text-transform: capitalize;
  padding-inline: 1rem;
  font: "sans-serif";
  font-weight: 300;
  overflow: hidden;
  margin: 0;
  padding-block: 0.5rem;
}

/* Movie Information */

.movie-wrapper {
  background-color: var(--secondary-background);
  margin-block: 3.5rem;
  display: flex;
  gap: 2.5rem;
  align-items: flex-start;
  justify-content: space-evenly;
  padding-block: 2rem;
}
#poster {
  width: 300px;
  height: 440px;
  object-fit: cover;
  object-position: center;
}
#poster img {
  width: 100%;
}
.movie-info > div {
  border-bottom: 1px solid rgba(245, 197, 24, 0.356);
  width: 50ch;
}
.movie-info h5 {
  font-weight: 300;
}
.movie-title {
  align-items: center;
  gap: 2rem;
}
.movie-title #year {
  font-size: 1rem;
}
.movie-rating h5 {
  align-items: center;
  justify-content: flex-start;
}
.movie-rating img {
  width: 35px;
}
.movie-rating p {
  margin-inline-start: 2rem;
}

.plot {
  border-bottom: 1px solid var(--secondary-background);
}

/* Movie Showcase */
.Movie-showcase {
  min-height: 65vh;
}

/* Footer */

footer {
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-background);
  padding-block: 0.5rem;
  font-size: 0.7rem;
  border-top: 1px solid var(--yellow-background);
}

/*  Movie Not Found Section */

#not-found {
  display: none;
  height: 80vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#not-found img {
  width: 8rem;
}

/* Media Queries */
/* Tablet */
@media (width<=820px) {
  .card-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
  #searchbar {
    max-width: 20rem;
  }
}
/* Mobile */
@media (width<=425px) {
  #navbar {
    flex-direction: column;
  }
  #logo {
    padding: 0;
  }
  #logo-img {
    width: 1.5rem;
  }
  #logo-title {
    font-size: 0.7rem;
  }
  #main-title {
    font-size: 1.5rem;
  }
  .card-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  #searchbar {
    max-width: 20rem;
  }
  body {
    font-size: 0.7rem;
  }
}
